*.pyc
docs/ACAIS2013Workshop_Instructions.aux
docs/ACAIS2013Workshop_Instructions.idx
docs/ACAIS2013Workshop_Instructions.lof
docs/ACAIS2013Workshop_Instructions.log
docs/ACAIS2013Workshop_Instructions.lot
docs/ACAIS2013Workshop_Instructions.out
docs/ACAIS2013Workshop_Instructions.synctex.gz
docs/ACAIS2013Workshop_Instructions.toc
ACAIS2013Workshop_Instructions.pdf
*.log
presentation/ACAIS2013_WorkshopPresentation.aux
presentation/ACAIS2013_WorkshopPresentation.nav
presentation/ACAIS2013_WorkshopPresentation.out
presentation/ACAIS2013_WorkshopPresentation.pdf
presentation/ACAIS2013_WorkshopPresentation.snm
presentation/ACAIS2013_WorkshopPresentation.synctex.gz
presentation/ACAIS2013_WorkshopPresentation.toc
