*.pyc
docs/ACAIS2013Workshop_Instructions.aux
docs/ACAIS2013Workshop_Instructions.idx
docs/ACAIS2013Workshop_Instructions.lof
docs/ACAIS2013Workshop_Instructions.log
docs/ACAIS2013Workshop_Instructions.lot
docs/ACAIS2013Workshop_Instructions.out
docs/ACAIS2013Workshop_Instructions.synctex.gz
docs/ACAIS2013Workshop_Instructions.toc
ACAIS2013Workshop_Instructions.pdf
